<html>
    <head><h1>Home HTML Page !</h1></head>
    <title>Node_html</title>
    </title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
        <body>
            <% include partial/navigation.ejs %> 
            <H1> This is the HTML page served by Node JS</H1>
            <p> Its Awsome!!    </p>
        </body>
</html>