<html>
    <head><h1>404,oops!!</h1></head>
    <title>Node_html</title>
    </title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <body>
        <% include partial/navigation.ejs %>
        <H1> Thanks for visiting  Here</H1>
        <p> Good day!!    </p>
    </body>
</html>