<div class="navbar">
    <a href="/">Home</a>
    <a href="/contact">Contact us</a>
    <div class="dropdown">
        <button class="dropbtn">Application
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <div class="header">
                <h2>Select The Application</h2>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Mission Critical Apps</h3>
                    <a href="/MyCSP">MyCSP</a>
                    <a href="#">CMS</a>
                    <a href="#">OPUS</a>
                    <a href="#">SSK</a>
                    <a href="#">EDP</a>
                </div>
                <div class="column">
                    <h3>Non-Mission Critical Apps/MC Scripts</h3>
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">LMTv2</a>
                                <a href="#">QRAS</a>
                                <a href="#">Sales Dashbooard</a>
                                <a href="#">Credit Apps</a>
                            </td>
                            <td>
                                <a href="#">OPUS Functionality</a>
                                <a href="#">Retail Admin Console </a>
                                <a href="#">OPUS LD</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <h3>Validations from other Apps</h3>
                    <a href="#">OPUS PST</a>
                    <a href="#">MyATT</a>
                    <a href="#">Paystation</a>
                    <a href="#">CSI</a>
                    <a href="#">AMOC</a>
                    <a href="#">Paystation</a>
                </div>
            </div>
        </div>
    </div>
</div>
